


 
 <div>
  <h2>Drawing with Color Palette</h2>
  <div class="color-palette">
    <div class="color" (click)="changeColor('black')" style="background-color: black;"></div>
    <div class="color" (click)="changeColor('red')" style="background-color: red;"></div>
    <div class="color" (click)="changeColor('blue')" style="background-color: blue;"></div>
    <div class="color" (click)="changeColor('green')" style="background-color: green;"></div>
    <!-- Add more colors as needed -->
  </div>
  <canvas #canvas width="400" height="300" style="border: 1px solid black;"></canvas>
</div>
